<h1> Histórico </h1>

<table mat-table [dataSource]="historico" >

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> #</th>
    <td mat-cell *matCellDef="let his"> {{his.id}} </td>
  </ng-container>
  <ng-container matColumnDef="mudanca">
    <th mat-header-cell *matHeaderCellDef> Mudança</th>
    <td mat-cell *matCellDef="let his"> {{his.mudanca}} </td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data</th>
    <td mat-cell *matCellDef="let his"> {{his.data | date : 'dd/MM/yyyy - HH:mm'}} h </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="['id','mudanca','data']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id','mudanca','data'];"></tr>
</table>

<div *ngIf="!historico || historico.length == 0">
  <p>Sem Histórico para exibir</p>
</div>

